/* your beautiful css styling goes here! */

/* Note: an asteroid image is included in this repo.
Feel free to use it if you like. */

.gameBoard {
  display: block;
  margin: auto;
  width: 80%;
  height: 600px;
  background-color: black;
}
